body {
    background-color: #1d1d1d;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    text-fill: white

}

h1 {
    color: white;
    text-align: center;
}

h2, th {
    color: white;
    font-size: 25px;
}

p, tr {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
}

table {
   border-color: white;
   border-spacing: 0px;

}