.background {
    -fx-background-color: #1d1d1d;
}

#paneHeader {
     -fx-border-color: white;
     -fx-background-color: #ffffff;
}

.tab {
      -fx-background-color: #1d1d1d;
      -fx-text-fill: white
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.tab .tab-label:selected:focused {
    -fx-background-color: #1d1d1d;
}

.tab-pane .tab-header-area .tab-header-background {
     -fx-border-color: derive(#1d1d1d,20%);
     -fx-background-color: derive(#1d1d1d,20%);
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
     -fx-font-size: 13pt;
     -fx-text-fill: white
}

.tab-pane .tab:selected
{
    -fx-background-color: #1d1d1d;
    -fx-border-color: white;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.grid {
     -fx-border-color: white;
     -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.hbox {
     -fx-border-color: #1d1d1d;
     -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.header {
     -fx-border-color: white;
     -fx-background-color: #1d1d1d;
}

#image1 {
    -fx-image: url("../res/ico2.png");
    -fx-border-color: #1d1d1d;
    -fx-border-width: 2, 2;
}


.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-border-color: white;
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-alignment: center;
}

#Report-header {
    -fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: White;
    -fx-opacity: 1;
    -fx-alignment: top_center;
    -fx-background-color: #1d1d1d;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: #1d1d1d;
    -fx-table-header-border-color: #1d1d1d;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #1d1d1d;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #1d1d1d;
    -fx-border-color:
        derive(-fx-base, 80%)
        derive(-fx-base, 80%)
        derive(-fx-base, 80%)
        derive(-fx-base, 80%);
    -fx-border-insets: 0 2 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .column-background {
     -fx-background-color: #1d1d1d;
 }

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-font-size: 12pt;
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-column {
     -fx-border-color:
                  #1d1d1d
                  derive(-fx-base, 95%)
                  derive(-fx-base, 95%)
                  #1d1d1d;
     -fx-border-insets: 0 0 0 0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
     -fx-background-color: -fx-focus-color;
 }

.table-row-cell:filled:focused:selected {
     -fx-background-color: -fx-focus-color;
 }

 .tablePart {
     -fx-background-color: #1d1d1d;
     -fx-border-color: white, white;
     -fx-border-width: 1, 3;
     -fx-border-style: solid, segments(1, 1);
     -fx-border-radius: 0, 0;
     -fx-border-insets: 1 1 1 1, 0;
 }

.chart-plot-background {
    -fx-background-color: derive(#1d1d1d,20%);
}

.chart {
    -fx-background-color: #1d1d1d;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);

    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#windowHeader {
    -fx-background-color: derive(#1d1d1d,20%);

    -fx-border-color: white, white;
    -fx-border-width: 0, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#windowHeaderLbl {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-alignment: center;
}

#windowCloseButton, #windowHideButton {
    -fx-text-fill: red;
    -fx-border-color: derive(#1d1d1d,20%);
    -fx-border-width: 4;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

#catalog-toll-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-border-color: white, white;
    -fx-border-width: 0, 0;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 0, 0;
}

.tool-bar {
    -fx-background-color: #1d1d1d;
    -fx-border-color: white, white;
    -fx-border-width: 1, 3;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 15 5 15;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.hyperlink {
    -fx-font-family: "Segoe UI";
}

.hyperlink:visited {
    -fx-text-fill: white;
}